<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>论坛--登录</title>
<link rel="stylesheet" type="text/css" href="style/style.css">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
</head>

<body>
	<div id="main">
		<div>
			<div>
				<img src="image/logo.gif">
			</div>
			<div class="h">
				<span>
					您尚未 <a href="login.html">登录</a> &nbsp;| &nbsp; <a href="reg.html">注册</a> |
				</span>
			</div>
		</div>
		<br>
		<div>
			&gt;&gt;<b><a href="index.html">论坛首页</a></b>
		</div>
		<div align="center" class="t">
			<form name="loginForm" action="" method="post">
				<br>
				<label>用户名</label>
				<input v-model="uname" tabindex="1" type="text" maxlength="20" size="35" name="uName" class="input">
				<br>
				<label>密 码</label>
				<input v-model="upass" tabindex="2" type="password" maxlength="20" size="35" name="uPass" class="input">
				<br>
				<input @click="login()" tabindex="6" type="button" value="登 录" class="btn">
			</form>
		</div>
		<script type="text/javascript">
		var v=new Vue({
			el:".t",
			data:{
				uname:"",
				upass:"",
			},
			created(){
			      var t = this;
			      document.onkeydown = function(e){
			        if(window.event == undefined){
			          var key = e.keyCode;
			        }else{
			          var key = window.event.keyCode;
			        }
			      //enter的ASCII码是13
			        if(key == 13){
			          t.login();
			        }
			      }
			    },	methods:{
				login(){
					var p=new URLSearchParams();
					p.append("uname",this.uname);
					p.append("upass",this.upass);
					axios.post("Logincheck.s?op=Logincheck",p).then(res=>{
						alert(res.data);
						if(res.data=="登录成功"){
							location.href="index.html";
						}else{
							location.href="login.html";
						}
					});
				}
			}
		});
		
		</script>
		
		
	</div>
</body>
</html>