<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>盒老师</title>
	<meta name="keywords" content="盒老师">
	<meta name="content" content="盒老师">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <link type="text/css" rel="stylesheet" href="css/login.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>

</head>
<body class="login_bj" >

<div class="zhuce_body">
	<div class="logo"><a href="#"><img src="images/logo.png" width="114" height="54" border="0"></a></div>
    <div class="zhuce_kong">
    	<div class="zc">
        	<div class="bj_bai">
            <h3>欢迎注册</h3>
       	  	  <form action="" method="get">
                <input v-model="name" type="text" class="kuang_txt possword" placeholder="用户名">
                <input v-model="phone" type="text" class="kuang_txt phone" placeholder="手机号">
                <input v-model="email" type="text" class="kuang_txt email" placeholder="邮箱">
                <input v-model="pwd" type="text" class="kuang_txt possword" placeholder="密码">
                <input name="" type="text" class="kuang_txt possword" placeholder="邀请码">
                <input name="" type="text" class="kuang_txt yanzm" placeholder="验证码">
                <div>
                	<div class="hui_kuang"><img src="images/zc_22.jpg" width="92" height="31"></div>
                	<div class="shuaxin"><a href="#"><img src="images/zc_25.jpg" width="13" height="14"></a></div>
                </div>
                <div>
               		<input name="" type="checkbox" value=""><span>已阅读并同意<a href="#" target="_blank"><span class="lan">《XXXXX使用协议》</span></a></span>
                </div>
                <input @click="regist" name="注册" type="button" class="btn_zhuce" value="注册">
                
                </form>
            </div>
        	<div class="bj_right">
            	<p>上传头像</p>
                <form id="ff">
                	<img width="200px" id="head" alt="上传头像">
                	<input type="file" name="headimg">
                	<button @click.prevent="upload">上传</button>
                </form>
            </div>
        </div>
        <script type="text/javascript">
        	var v = new Vue({
        		el : ".zc",   // 确认zc 只有一个
        		data : {
        			name : "",
        			phone : "",
        			email : "",
        			pwd : "",
        			head : ""
        		},
        		methods : {
        			regist(){
        				// post请求
        				var url = "register.s";
        				var params = new URLSearchParams();
        				params.append("name",this.name);
        				params.append("phone",this.phone);
        				params.append("email",this.email);
        				params.append("pwd",this.pwd);
        				params.append("head",this.head);
        				axios.post(url,params).then( res=>{
        					alert(res.data);
        				});
        			},
        			upload(){
        				var url = "upload.s";
        				var fd = new FormData(ff);
        				var config = {
       						headers : {
       							"Content-Type" : "multipart/form-data"
       						}
        				};
        				axios.post(url, fd, config).then( res=>{
        					// res.data 是返回图片web路径
        					// 将web路径设置到 头像图片中
        					head.src = res.data;
        					// 将web路径设置到 头像字段中
        					this.head = res.data;
        				});
        			}
        		}
        	})
        
        </script>
        <P>Diyhe.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;欢迎您定制盒子模型</P>
    </div>

</div>
    

</body>
</html>